<h1><%= @user.first_name %> Dishlists</h1>

<% if current_user == @user %>
  <div class="m-3">
    <%= simple_form_for([ @user, @dishlist ], remote: true) do |f| %>
      <%= f.input :name, placeholder: "Create a new Dishlist..." ,label: false %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>

<div class="d-flex">
  <% @user.dishlists.each do |dishlist| %>
    <%= render 'shared/dishlist_card', dishlist: dishlist %>
  <% end %>
</div>
