<h1><%= @user.first_name.end_with?('s') ? "#{@user.first_name}' dishlists" : "#{@user.first_name}'s dishlists" %></h1>

<% if current_user == @user %>
  <div class="m-3">
    <%= simple_form_for([ @user, @dishlist ], remote: true, html: { class: 'form-inline' }) do |f| %>
      <%= f.input :name, placeholder: "Create a new Dishlist..." ,label: false %>
      <%= f.submit 'Create Dishlist', class: 'btn btn-warning' %>
    <% end %>
  </div>
<% end %>

<div class="d-flex">
  <% @user.dishlists.each do |dishlist| %>
    <%= render 'shared/dishlist_card', dishlist: dishlist %>
  <% end %>
</div>
