<h1><%= @dishlist.name %></h1>

<% @dishlist_dishes.each do |dishlist_dish| %>
  <div class="dish-card" style="margin: 0 auto">
    <div class="dish-img" style="background-image: url(<%= image_path('pasta.jpeg') %>);"></div>
    <div class="card-body">
      <div class="card-body-left">
        <h3><%= dishlist_dish.dish.name %></h3>
        <h3><em><%= dishlist_dish.dish.restaurant.name %></em></h3>
        <h3>£<%= dishlist_dish.dish.price %></h3>
        <h5><%= dishlist_dish.dish.description %></h5>
      </div>
      <% if @dishlist.user == current_user %>
        <div class="card-body-right">
          <%= link_to 'Delete Dish', dishlist_dish_path(dishlist_dish), method: :delete, data: { confirm: 'Are you sure?' }, remote: true  %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
