<h1><%= @dishlist.name %></h1>

<% @dishlist_dishes.each do |dishlist_dish| %>
  <div class="dish-card" style="margin: 0 auto">
    <div class="card-body">
      <div class="card-body-left">
        <h3><%= link_to dishlist_dish.dish.name, dish_path(dishlist_dish.dish.id) %></h3>
        <h5><em><%= link_to dishlist_dish.dish.restaurant.name, restaurant_path(dishlist_dish.dish.restaurant.id) %></em></h5>
        <h5>£<%= dishlist_dish.dish.price %></h5>
        <p><%= dishlist_dish.dish.description %></p>
      </div>
      <% if @dishlist.user == current_user %>
        <div class="card-links">
          <%= render 'shared/justeat_button', restaurant: dishlist_dish.dish.restaurant %>
          <%= link_to dishlist_dish_path(dishlist_dish.id),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          remote: true do %>
          <i class="far fa-trash-alt" style="font-size: 20px;"></i>
          <% end %>
        </div>
      <% else %>
        <div class="card-body-right">
          <%= simple_form_for DishlistDish.new do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: dishlist_dish.dish.id } %>
          <%= f.submit %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
