<% if @dishlist.photo.attached? %>
  <div class="shadow"> <%= cl_image_tag @dishlist.photo.key, class: 'banner' %> </div>
<% end %>
<h1 class="mt-2 mb-4"><%= @dishlist.name %> <small><em>by <%= link_to @dishlist.user.username, profile_path(@dishlist.user) %></em></small></h1>

<% @dishlist_dishes.each do |dishlist_dish| %>

  <% valid_card = local_restaurants_array.include?(dishlist_dish.dish.restaurant.just_eat_id) && controller_name != 'restaurants' %>
    <div class="dish-card" style="background-color:<%= valid_card ? "#ffffff;" : "#efefef;" %>">
      <div class="card-body">
        <div class="card-body-left">
          <small><%= link_to dishlist_dish.dish.restaurant.name.upcase, restaurant_path(dishlist_dish.dish.restaurant.id), style: "color: #{valid_card ? '$pink' : '#B85253'}; font-size: 10px; padding: 0px;" %></small>
          <h5><%= link_to dishlist_dish.dish.name, dish_path(dishlist_dish.dish), style: "color: #{valid_card ? '$pink' : '#B85253'}; font-size: 32px; margin: 0px; padding: 0px;" %></h5>
            <% dishlist_dish.dish.avg_rating.to_i.times do %>
              <%= image_tag "restaurant.svg", height: 20, class: "mb-2 mr-1" %>
            <% end %><%= "(#{dishlist_dish.dish.reviews.count} ratings)" %>
          <h5><%= "£#{sprintf('%.2f', (dishlist_dish.dish.price / 100.to_f).round(2))}" %></h5>
          <p style="font-size: 14px;"><%= dishlist_dish.dish.description.truncate(200) %></p>
        </div>
        <div class="card-links">
          <% if valid_card %>
            <% if @dishlist.user == current_user %>
              <div class="card-links">
                <%= render 'shared/justeat_button', restaurant: dishlist_dish.dish.restaurant %>
                <div class="delete-item btn btn-danger">Remove from dishlist <i class="far fa-trash-alt" style="font-size: 20px;"></i></div>
                <%= link_to "", dishlist_dish_path(dishlist_dish.id), method: :delete, class: "hidden delete-link", remote: true %>
              </div>
            <% else %>
              <div class="card-body-right">
                <%= simple_form_for(DishlistDish.new, html: { class: 'form-inline' }, remote: true) do |f| %>
                <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
                <%= f.input :dish_id, as: :hidden, input_html: { value: dishlist_dish.dish.id } %>
                <%= f.submit 'Add to Dishlist', class: 'btn btn-warning' %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="card-links">
              <small>NOT AVAILABLE NEARBY</small>
              <% if @dishlist.user == current_user %>
                <div class="delete-item btn btn-danger">Remove from dishlist <i class="far fa-trash-alt" style="font-size: 20px;"></i></div>
                <%= link_to "", dishlist_dish_path(dishlist_dish.id), method: :delete, class: "hidden delete-link", remote: true %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

