<% valid_card = local_restaurants_array.include?(dish.restaurant.just_eat_id) && controller_name != 'restaurants' %>
<div class="card discover-card pb-3">
  <%= link_to dish_path(dish.id) do %>
    <% dish.reviews.each do |review| %>
      <% if review.photos.attached? %>
        <%= cl_image_tag review.photos[0].key, height: 150, alt: "alttext", class: 'dc-img' %>
      <% end %>
    <% end %>
    <div class="card-body dc-body mb-1 w-100">
      <div class="middle-section">
        <div class="restaurant-info">
          <h5 class="card-title"><%= link_to dish.name, dish_path(dish) %></h5>
          <small><%= link_to dish.restaurant.name.upcase, restaurant_path(dish.restaurant.id), style: "color: #{valid_card ? '$pink' : '#B85253'}; font-size: 10px; padding: 0px;" %></small>
          <div class="ratings d-flex">
            <% dish.reviews.count.times do %>
              <%= image_tag "restaurant.svg", height: 20, class: "card-subtitle text-muted" %>
            <% end %><small><%= "(#{dish.reviews.count} ratings)" %></small>
          </div>
        </div>
      </div>
    </div>
    <% if valid_card %>
      <%= render 'shared/justeat_button', restaurant: dish.restaurant, class: 'dc-btn' %>
    <% else %>
      <small>NOT AVAILABLE NEARBY</small>
    <% end %>
  <% end %>
</div>

