<div class="card discover-card">
  <%#= link_to dish_path(dish.id) do %>
  <%= link_to '#' do %>
    <%# if dish.photos.attached? %>
      <%= image_tag 'pasta.jpeg', height: 150, alt: "alttext", class: 'dc-img' %>
    <%# end %>
    <div class="card-body dc-body w-100">
      <div class="middle-section">
        <div class="restaurant-info">
          <small><%= link_to 'Restaurant Name', '#' %><%#= link_to dish.restaurant.name.upcase, restaurant_path(dish.restaurant.id), style: "color: #{valid_card ? '$pink' : '#B85253'}; font-size: 10px; padding: 0px;" %></small>
          <h5 class="card-title"><%= link_to 'Dish name', '#' %><%#= dish.name %></h5>
          <div class="ratings d-flex">
            <% 4.times do %>
              <%= image_tag "restaurant.svg", height: 20, class: "card-subtitle mb-2 text-muted" %>
            <% end %><%#= "(#{dish.reviews_count} ratings)" %>
          </div>
        </div>
        <div class="avatar-section">
          <%#= avatar_tag user: 'user' %>
        </div>
      </div>
    </div>
    <%# if valid_card %>
    <p class="text-center">Find on just eat</p>
      <%#= render 'shared/justeat_button', restaurant: dish.restaurant %>
    <%# else %>
      <!-- <small>NOT AVAILABLE NEARBY</small> -->
    <%# end %>
  <% end %>
</div>
