<div class="card m-2" style="width: 18rem;">
  <% if dishlist.photo.attached? %>
    <%= cl_image_tag dishlist.photo.key, alt: "alttext", class: 'card-img-top' %>
  <% end %>
  <div class="card-body w-100">
    <div class="d-flex flex-column w-100">
      <h5 class="card-title"><%= link_to dishlist.name, user_dishlist_path(params[:user_id], dishlist.id) %></h5>
      <p>Curated by: <%= link_to dishlist.user.username, profile_path(dishlist.user_id) %></p>
      <div class="d-flex justify-content-center">
        <%= link_to 'View Dishes', user_dishlist_path(dishlist.user_id, dishlist.id), class: "btn btn-sm btn-warning mr-2" %>
        <% if dishlist.user == current_user %>
          <div class="delete-item btn btn-sm btn-warning ml-2">Delete Dishlist</div>
          <%= link_to "", user_dishlist_path(dishlist.user_id, dishlist.id), method: :delete, class: "hidden delete-link", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

