<% valid_card = local_restaurants_array.include?(dish.restaurant.just_eat_id) && controller_name != 'restaurants' %>
<div class="discover-card discover-card-user pb-2">
    <div class="dc-body px-1 mb-1 w-100">
      <div class="middle-section">
        <div class="restaurant-info ml-2">
          <h5 class="card-title mb-2"><%= link_to dish.name, dish_path(dish) %></h5>
          <small><%= link_to dish.restaurant.name.upcase, restaurant_path(dish.restaurant.id), style: "color: #{valid_card ? '$pink' : '#B85253'}; font-size: 10px; padding: 0px;" %></small>
          <div class="ratings d-flex">
            <% dish.avg_rating.to_i.times do %>
              <%= image_tag "restaurant.svg", height: 20, class: "card-subtitle text-muted mr-1" %>
            <% end %><small><%= "(#{dish.reviews.count} ratings)" %></small>
          </div>
        </div>
        <div class="avatar-section">
          <%= link_to profile_path(user) do %>
            <%= avatar_tag user: user, class: 'avatar-image' %>
            <small><%= link_to user.first_name, profile_path(user) %></small>
          <% end %>
        </div>
      </div>
    </div>
    <div class="justeat">
      <% if valid_card %>
        <%= render 'shared/justeat_button', restaurant: dish.restaurant %>
      <% else %>
        <small>NOT AVAILABLE NEARBY</small>
      <% end %>
    </div>
</div>

