<div class="dish-card" style="margin: 0 auto">
  <div class="dish-img" style="background-image: url(<%= image_path('pasta_basil.jpg') %>);"></div>
  <div class="card-body">
    <div class="card-body-left">
      <h5><%= link_to dish.name, dish_path(dish) %></h5>
      <h5><em><%= link_to dish.restaurant.name, restaurant_path(dish.restaurant.id) %></em></h5>
      <h5>£6.99</h5>
      <p><%= dish.description.truncate(50) %></p>
    </div>
    <div class="card-body-right">
      <%= simple_form_for DishlistDish.new do |f| %>
      <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
      <%= f.input :dish_id, as: :hidden, input_html: { value: dish.id } %>
      <%= f.submit 'Add to Dishlist' %>
      <% end %>
    </div>
  </div>
</div>
