<div class="sidebar">
  <%= link_to discover_path do %>
    <%= image_tag "PiattoLogo", class: 'sb-piatto-logo' %>
  <% end %>
  <div class="sb-link-box">
    <div class="sb-selector sb-active"></div>
    <%= link_to discover_path, class: 'sb-link sb-disco sb-selected' do %>
      <%= image_tag("pihome", class: 'sb-icon') %>
      <p>Discover</p>
    <% end %>
  </div>
  <!-- <hr class="sb-hr"/> -->
  <div class="sb-link-box">
    <div class="sb-selector"></div>
    <%= link_to user_dishlists_path(current_user.id), class: 'sb-link sb-my' do %>
      <%= image_tag("pilibrary", class: 'sb-icon') %>
      <p>My dishlists</p>
    <% end %>
  </div>
  <!-- <hr class="sb-hr"/> -->


  <br>
  <%= image_tag "pisearch", class: 'sb-icon' %>
</div>
