<h1 class="mb-3"><%= @user.first_name.end_with?('s') ? "#{@user.first_name}' profile" : "#{@user.first_name}'s profile" %></h1>

<div class="container" style="height: calc(100vh - 200px);">

  <div class="profile-information d-flex">
    <%= avatar_tag user: @user, class: "profile-img", width: 200, height: 200 %>
    <div class="info w-75">
      <!-- <h5 class="profile-h5">User</h5> -->
      <h5><%= @user.username %></h5>
      <div class="dishlist-box">
        <h5><%= link_to "View #{@user.first_name}'s #{@dishlists.count} Dishlists", user_dishlists_path(params[:id]) %></h5>
        <% if current_user == @user %>
          <%= link_to "Edit Profile", edit_user_registration_path(current_user.id), class: 'btn btn-primary mt-3' %>
        <% end %>
        <% if @user != current_user && !@user.followees.include?(current_user) %>
            <%= link_to "Follow", followings_path(id: @user.id), method: "POST", class: 'btn btn-primary mb-2' %>
        <% elsif @user.followees.include?(current_user) %>
            <%= link_to "Unfollow", following_path(id: @user.id), method: "DELETE", class: 'btn btn-primary mb-2' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="followings" style="overflow: scroll; height: 400px; margin: 30px;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Followers <%= "(#{@user.followees.count})" %></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Following <%= "(#{@user.followers.count})" %></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active mt-2" id="home" role="tabpanel" aria-labelledby="home-tab">
        <% @user.followees.each do |followee| %>
        <div style="display: flex; align-items: center; flex-direction: row;">
          <%= avatar_tag user: followee, width: 40, height: 40, class: "m-3 rounded-circle" %>
          <div class="follows">
            <%= link_to "#{followee.first_name} #{followee.last_name}", profile_path(followee.id) %>
            <span><%= followee.followees.count %> Followers</span>
          </div>
        </div>
        <% end %>
      </div>
      <div class="tab-pane fade mt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <% @user.followers.each do |follower| %>
        <div style="display: flex; align-items: center; flex-direction: row;">
        <%= avatar_tag user: follower, width: 40, height: 40, class: "m-3 rounded-circle" %>
          <div class="follows">
            <%= link_to "#{follower.first_name} #{follower.last_name}", profile_path(follower.id) %>
            <span><%= follower.followees.count %> Followers</span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
