<div class="container mb-10">
  <div id="form-width">
    <%= simple_form_for [@dish, @review], remote: true do |f| %>
      <%= f.input :rating, collection: 1..5 %>
      <label class="btn btn-warning mx-2 text-white">
        Add Some Photos!
        <span style="display:none;">
          <%= f.input :photos, required: true, input_html: { multiple: true }, name: 'photo' %>
        </span>
      </label>
      <%= f.input :content %>
      <div class="btn-width mx-auto">
        <%= f.submit class: "btn btn-warning text-white" %>
      </div>
    <% end %>
  </div>

  <div class="list-group list-reviews">
    <% @dish.reviews.each do |review| %>
      <p id="review-<%= review.id %>"></p>
        <li class="list-group-item reviews mb-2">
          <div class="inline-text" style="height: 30px">
            <%= review.user.first_name || review.user.email %>
            <% if review.user == current_user %>
              <div class="delete-item btn btn-sm btn-danger float-right">Remove <i class="far fa-trash-alt" style="font-size: 15px;"></i>  </div>
              <%= link_to "", review_path(review), method: :delete, class: 'delete-link hidden', remote: true %>
            <% end %>
          </div>          

          <p>
            <% review.rating.times do %>
              <%= image_tag "restaurant.svg", height: 20 %>
            <% end %>
          </p>

          <p><%= review.content %></p>
          <% if review.photos.attached? %>
          <div class="review_images d-flex w-100" style="overflow: scroll;">
            <%= render 'modal', review: review %>
          </div>

          <% end %>
        </li>
    <% end %>
  </div>
</div>
