<div class="container" style= "margin: 0 auto">

<% if @dish_available %>
  <%= render 'shared/map' %>
    <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= @dish.name %></h3>
          <% @dish.average_rating.to_i.times do %>
            <%= image_tag "restaurant.svg", height: 20, class: "mb-2" %>
          <% end %><%= "(#{@dish.reviews.count} ratings)" %>
          <h5><em><%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant.id) %></em></h5>
          <h5>£<%= @dish.price %></h5>
          <p><%= @dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for(DishlistDish.new, html: { class: 'form-inline' }, remote: true) do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>

          <%= f.submit 'Add to dishlist', class: "btn btn-warning ml-2 text-white" %>
          <%= render partial: '/shared/justeat_button', locals: { restaurant: @dish.restaurant } %>
          <% end %>
        </div>
  <%= render 'review', dish: @dish %>
    </div>
<% elsif @dishes.empty?%>
  <h5>Sorry, no results in your area</h5>
<% else %>
  <h3> Sorry, <%= @dish.name %> from <%= @dish.restaurant.name %> is too far. </h3>
  <br>
  <h3>But don't worry, we've got you covered!</h3>
  <%= render 'shared/map' %>
  <% @dishes.each do |dish| %>
      <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= dish.name %></h3>
          <h5><em><%= link_to dish.restaurant.name, restaurant_path(dish.restaurant.id) %></em></h5>
          <h5>£<%= dish.price %></h5>
          <p><%= dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for DishlistDish.new do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>
          <%= f.submit 'Add to dishlist' %>
          <%= render partial: '/shared/justeat_button', locals: { restaurant: @dish.restaurant } %>
          <% end %>
        </div>
      </div>
  <%= render 'review' %>
    </div>
  <% end  %>
<% end %>
  </div>
</div>


