<div class="container" style= "margin: 0 auto">
  <% if @dish_available %>
    <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= @dish.name %></h3>
          <% if @dish.average_rating > 0 %>
            <% @dish.average_rating.to_i.times do %>
              <%= image_tag "restaurant.svg", height: 20, class: "mb-2" %>
            <% end %><%= "(#{@dish.reviews.count} ratings)" %>
          <% end %>
          <h5><em><%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant.id) %></em></h5>
          <h5><%= "£#{sprintf('%.2f', (@dish.price / 100.to_f).round(2))}" %></h5>
          <p><%= @dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for(DishlistDish.new, html: { class: 'form-inline' }, remote: true) do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>
          <%= f.submit 'Add to dishlist', class: "btn btn-warning ml-2 text-white" %>
          <%= render partial: '/shared/justeat_button', locals: { restaurant: @dish.restaurant } %>
          <% end %>
          <div style="height: 30px;"></div>
        </div>
      <%= render 'review', dish: @dish %>
      </div>
    </div>
  <% elsif @dishes.empty?%>
    <h5>Sorry, no results in your area</h5>
  <% else %>
    <div class= 'show-top-container'>
      <h3> <%= @dish.restaurant.name %> doesn't deliver to you. But some similar dishes from restaurants nearby! </h3>
      <%= render 'shared/map' %>
    </div>
    <% @dishes.each do |dish| %>
      <div class="dish-card mt-3" style="margin: 0 auto">
        <div class="card-body">
          <div class="card-body-left">
            <h3><%= link_to dish.name, dish_path(dish.id) %></h3>
            <h5><em><%= link_to dish.restaurant.name, restaurant_path(dish.restaurant.id) %></em></h5>
            <h5><%= "£#{sprintf('%.2f', (dish.price / 100.to_f).round(2))}" %></h5>
            <p><%= dish.description %></p>
          </div>
          <div class="card-body-right d-flex">
            <div class="left-box">
              <%= simple_form_for(DishlistDish.new, html: { class: 'form-inline' }) do |f| %>
              <div class="form-froup">
              <%= f.association :dishlist, collection: current_user.dishlists, label: false, input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
              <%= f.input :dish_id, as: :hidden, input_html: { value: dish.id } %>
              </div>
              <div class="form-actions">
              <%= f.submit 'Add to Dishlist', class: 'btn btn-warning text-white' %>
              </div>
              <% end %>
            </div>
            <div class="right-box">
              <%= render partial: '/shared/justeat_button', locals: { restaurant: dish.restaurant } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
