<div class="container" style= "margin: 0 auto">
  <div class="bg-image"></div>
    <div id="map"
     style="width: 100%; height: 600px;"
     data-marker="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= @dish.name %></h3>
          <% @dish.average_rating.to_i.times do %>
            <%= image_tag "restaurant.svg", height: 20, class: "mb-2" %>
          <% end %><%= "(#{@dish.reviews.count} ratings)" %>
          <h5><em><%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant.id) %></em></h5>
          <h5>£<%= @dish.price %></h5>
          <p><%= @dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for(DishlistDish.new, html: { class: 'form-inline' }) do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>
          <%= f.submit 'Add to dishlist', class: "btn btn-warning ml-2 text-white" %>
          <% end %>
        </div>
    </div>
  </div>
  <%= render 'review', dish: @dish %>
  <br>
  <br>
</div>
