<div class="container" style= "margin: 0 auto">


<%# #search in cookies for just_eat_id of current restaurant %>

<% if @dish_available %>
  <%= render partial: '/shared/justeat_button', locals: { restaurant: @dish.restaurant } %>
<% elsif @dishes.empty?%>
  <h5>Sorry, no results in your area</h5>
<% else %>
  <%= @dishes.each do |dish|  %>
  <%= dish.name %>
  <% end  %>
<% end %>

  <%#= render 'shared/justeat_button'  %> 
<%# #if true, then display just eat order button
#else, show dishes with similar name that are available to deliver to our location %>



  <div class="bg-image"></div>
    <div id="map"
     style="width: 100%; height: 600px;"
     data-marker="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= @dish.name %></h3>
          <h5><em><%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant.id) %></em></h5>
          <h5>£<%= @dish.price %></h5>
          <p><%= @dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for DishlistDish.new do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>
          <%= f.submit 'Add to dishlist' %>
          <% end %>
        </div>
    </div>
  </div>
  <%= render 'review' %>
  <br>
  <br>
</div>


