<div class="container" style= "margin: 0 auto">

<% if @dish_available %>
  <h3> <%= @dish.name %> is available from <%= @dish.restaurant.name %> </h3>
    <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= @dish.name %></h3>
          <h5><em><%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant.id) %></em></h5>
          <h5>£<%= @dish.price %></h5>
          <p><%= @dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for DishlistDish.new do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>
          <%= f.submit 'Add to dishlist' %>
          <%= render partial: '/shared/justeat_button', locals: { restaurant: @dish.restaurant } %>
          <% end %>
        </div>
  <%= render 'review' %>
    </div>
<% elsif @dishes.empty?%>
  <h5>Sorry, no results in your area</h5>
<% else %>
  <div class= 'show-top-container'>
    <h3> <%= @dish.restaurant.name %> doesn't deliver to you. But there's similar dishes from restaurants nearby! </h3>
    <%= render 'shared/map' %>
  </div>
  <% @dishes.each do |dish| %>
      <div class="dish-card mt-3" style="margin: 0 auto">
      <div class="card-body">
        <div class="card-body-left">
          <h3><%= dish.name %></h3>
          <h5><em><%= link_to dish.restaurant.name, restaurant_path(dish.restaurant.id) %></em></h5>
          <h5>£<%= dish.price %></h5>
          <p><%= dish.description %></p>
        </div>
        <div class="card-body-right">
          <%= simple_form_for DishlistDish.new do |f| %>
          <%= f.association :dishlist, collection: current_user.dishlists, label: false %>
          <%= f.input :dish_id, as: :hidden, input_html: { value: @dish.id } %>
          <%= f.submit 'Add to dishlist' %>
          <%= render partial: '/shared/justeat_button', locals: { restaurant: @dish.restaurant } %>
          <% end %>
        </div>
      </div>
  <%= render 'review' %>
    </div>
  <% end  %>
<% end %>
  </div>
</div>


