<!DOCTYPE html>
<html>
  <head>
    <title>Piatto | Great dishes near you</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% full_page = (current_page?('/') || devise_controller?) && (!current_page?(edit_user_registration_path(current_user))) %>
    <%= render 'shared/flashes' %>
    <% if full_page %>
      <%= yield %>
    <% else %>
      <%= render 'shared/sidebar' %>
      <div style="margin-left: 270px;">
        <%= render 'shared/navbar' %>
        <div style="margin-top: 85px; padding: 30px;">
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
